.header-sticky {
    width: 100%;
    position: fixed;
    transition: top 0.4s ease-in-out;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 1000;

    &__mobile-logo {
        display: block;
        z-index: 100000;
    }


    &__row {

        display: flex;
        flex-direction: column;



        @include respond-to("medium") {
            position: relative;
            flex-direction: row;
            justify-content: space-between;
        }

    }

    &__left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        padding-bottom: 5px;


        @include respond-to("small") {
            display: flex;

            svg {

                height: auto;
            }
        }

        @include respond-to("medium") {
            padding-top: 0;
            padding-bottom: 0;
        }


    }

    &__left svg {
        display: none;

        @include respond-to("large") {
            display: block;
            width: 332px;
            height: 272px;
        }
    }


    &__right {


        @include respond-to("small") {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-end;

            p {
                margin-bottom: 38px;
                max-width: 741px;
                margin-top: 20px;
                color: $text-dark;

                @include respond-to("medium") {

                    margin-bottom: 0;
                    margin-top: 0;
                }
            }
        }


    }

    &__language {
        padding-right: 20px;
    }

    &__language-dropdown .li {


        position: absolute;
        left: 0;
        width: 40px;
        color: #1D4951;
        margin-right: 0 !important;

    }

    &__links {
        padding: 0;

        &:hover {
            color: $primary-color;
            font-weight: 600;

            svg {


                path {
                    fill: $primary-color;
                    font-weight: 600;
                }
            }
        }





        @include respond-to("medium") {
            padding: 0;
        }
    }

    ul {

        li {
            svg {
                margin-left: 5px;
            }
        }

        display: block;

        @include respond-to("medium") {
            gap: 20px;
            display: flex;
            flex-direction: row;
            align-items: baseline;

            @include respond-to("large") {
                gap: 20px;
            }


            li {
                padding-top: 20px;
                font-size: 17px;

                @include respond-to("medium") {
                    padding-top: 0;

                }

            }

            svg {
                position: absolute;

                top: 60%;

                path {
                    fill: $background-dark;
                }

                @include respond-to("medium") {
                    top: 20%;
                }

                &:last-of-type {
                    top: 45%;
                }

            }

            .button .button__primary {
                text-transform: none;

            }

        }
    }

    &__hamburger-button {

        display: flex;
        justify-content: center;
        align-items: center;
        top: 18px;
        right: 15px;
        cursor: pointer;
        background: transparent;
        border: none;

        @include respond-to("small") {
            right: 20px;
        }

        @include respond-to("medium") {
            display: none;

        }
    }

    &__hamburger-button span {
        display: block;
        width: 20px;
        height: 2px;
        margin: 5px auto;
        background-color: $background-dark;
        border-radius: 2px;
    }



    &__mobile-navigation {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

    }

    &__navigation {
        position: fixed;
        top: 65px;
        left: 100%;
        right: 0;
        background: $background-dark;
        width: 100%;
        opacity: 0;
        height: 100vh;
        background: transparent;

        @include respond-to("medium") {
            position: static;
            height: 0;
        }


        a {
            color: $background-dark;


            &:last-of-type {
                width: 100%;
                text-align: center;


                @include respond-to("small") {

                    width: 329px;
                }

                @include respond-to("medium") {
                    width: 100%;
                }
            }

        }

        li {


            padding-bottom: 12px;

            @include respond-to("medium") {
                padding-bottom: 0 !important;
            }



            &:last-of-type {
                width: 100%;
                // padding-top: 12px;

                @include respond-to("medium") {
                    padding-top: 0;
                }


            }

        }

        nav {
            // background-color: white;
            margin-left: 20px;
            margin-right: 20px;
            height: 100vh;


            @include respond-to("small") {
                max-width: 730px;
                height: 100%;
            }

            @include respond-to("medium") {
                max-width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
        }

        @include respond-to("medium") {
            opacity: 1;
            position: static;
            height: auto;
            width: auto;
        }

    }


    &__navigation.change {

        opacity: 1;
        left: 0;

    }


    &__mobile-navigation {
        #hamburger-button {
            display: block;

        }

        #close-button svg {
            display: none;
        }

        @include respond-to("medium") {
            display: none;
        }
    }

    &__mobile-navigation.change {
        #hamburger-button {
            display: none;
        }

        #close-button svg {
            display: block;
        }
    }

    &__aktivnosti-dropdown {
        display: flex;
        align-items: left !important;
        justify-content: flex-start !important;
        flex-direction: column !important;

    }

    .button__primary {
        margin-left: 0;
        color: white;
    }

    &__border-mobile {
        border-bottom: 1px solid $border-color;
        padding-top: 12px;

        @include respond-to("medium") {
            border-bottom: none;
            white-space: nowrap;

            &.lan-picker {
                position: relative;
            }

            &.has-submenu {
                padding-right: 20px;


                &:hover {
                    .header__dropdown-container {
                        opacity: 1;
                        visibility: visible;
                        margin-top: 20px;

                    }
                }
            }
        }

    }

    .paragraph-big {
        margin-top: 40px;
        margin-bottom: 30px;
        color: #1D4951;

        @include respond-to("small") {
            margin-top: 20px;
            margin-bottom: 15px;
        }

        @include respond-to("medium") {
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 17px;
        }

        @include respond-to("large") {
            font-size: 19px;
        }
    }

}

.header-sticky--white {
    background-color: white;

    nav {
        background-color: white;
    }
}


//HEADER STICKY DARK -------------------------------------------------------------------------------------


.header-sticky--dark {
    // background-color: rgba(29, 73, 81, 0.2);
    backdrop-filter: blur(2.5px);

    

  

    .header-sticky__mobile-logo-dark {
        display: none;
    }

   
    
    .header-sticky__navigation.change {
        background: white;
    }

  

    .header-sticky__language > a {
        color: white;
    }

    .header-sticky__hamburger-button span {
        background-color: white;
    }

    .header-sticky__close-button {
        svg {
            path {
                fill: $title-color;
            }
        }
    }

    .header-sticky__border-mobile > a {
        color:white;
        &:hover {
            color: $primary-color;
        }
    }

    .header-sticky__links {

        svg {

            path {
                fill: white;

              
            }

          
        }

    }

    .header__links {
        svg {


            path {
                fill: white;
            }

        }
    }

    .header-sticky__language > a {
        &:hover {
            color: $primary-color;
        }
        
    }

    .header-sticky__navigation a {
        color: white;
    }
}

.header-sticky--dark.change {
    background-color: white;

    .header-sticky__mobile-logo {
        display: none;
    }

    .header-sticky__mobile-logo-dark {
        display: block;
    }

    .header-sticky__border-mobile > a {
        color: $title-color;
    }

    .header__dropdown-container {
        padding-left: 20px;
    }

    .button__primary {
        color: white !important;
    }

    nav {
        margin-top: 10px;
    }

    .header__links {
        svg {

            path {
                fill: $title-color;
            }

        }
    }

    .header-sticky__language > a {
        color: $title-color;
        
    }

    .header-sticky__language {
        margin-top: 10px;
    }

    .header-sticky__navigation a {
        color: $title-color;
    }
 
}