.header {

    transition: height 0s ease-in;
    width: 100%;
    display: flex;
    position: relative;
    background-image: url(images/watermark-header.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;

    &.change {
        background-image: none;

        .header__dropdown-container {
            padding-left: 20px;

        }

        nav {
            // margin-top: 20px;
        }

    }

    .logo-small {
        display: none;
    }

    &.change-header {
        position: fixed;
        width: 100%;
        bottom: 100%;
        transform: translateY(100%);
        z-index: 999;
        transition: transform 0.4s ease;


        .logo-small {
            display: block;
        }

        .logo-full {
            display: none;
        }

        .paragraph-big {
            display: none;

        }

        .header__navigation nav {
            padding-top: 10px;
            padding-bottom: 10px;

        }

        .header__row {
            align-items: center;
        }



    }

    @include respond-to("small") {
        background-image: none;
        background-color: white;
    }

    .container {
        background-position: left;
        background-repeat: no-repeat;
    }

    /*HEADER ROW-----------------------------------------------------------------------------------------------*/

    &__row {

        display: flex;
        flex-direction: column;
        position: relative;

        @include respond-to("medium") {
            flex-direction: row;
        }

        @include respond-to("large") {

            justify-content: space-between;
        }
    }

    &__language-dropdown li {

        position: absolute;
        left: 0;
        width: 40px;
        color: #1D4951;
        margin-right: 0 !important;

    }


    /*HEADER-LEFT-------------------------------------------------------------------------------------*/

    &__left {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 20px;
        padding-bottom: 5px;


        @include respond-to("small") {
            display: flex;

            svg {

                height: auto;
            }
        }

        @include respond-to("medium") {
            padding-top: 0;
            padding-bottom: 0;
        }


    }

    &__desktop-logo {
        display: none;

        @include respond-to("large") {
            display: flex;

        }
    }


    /*HEADER RIGHT--------------------------------------------------------------------------------------------*/



    &__dropdown-container {


        margin-top: 23px;
        justify-content: space-between;
        transition: all 0.3s ease;

        @include respond-to("medium") {
            // margin-top: 5px;
            display: flex;
            position: absolute;
            top: 95%;
            opacity: 0;
            visibility: hidden;
            background-color: #F8FBFC;
            padding: 24px;
            margin-left: -24px;
            border-radius: 8px;
        }
    }

    &__right {

        @include respond-to("small") {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-end;

            p {
                margin-bottom: 38px;
                max-width: 741px;
                margin-top: 20px;
                color: $text-dark;

                @include respond-to("medium") {

                    margin-bottom: 0;
                    margin-top: 0;
                }
            }
        }


    }


    ul {
        display: block;

        li:not(.lan-picker) svg {
            display: none;
            @include respond-to("medium") {

               display: block;
            }
        }


        svg {


           
                position: absolute;
                right: 0;
                top: 7px;

                path {
                    // fill: $background-dark !important;
                }


            

        }

        @include respond-to("medium") {
            margin-left: 20px;
            gap: 20px;
            display: flex;
            flex-direction: row;
            align-items: baseline;


            @include respond-to("large") {
                gap: 20px;
            }


            li {
                padding-top: 20px;
                font-size: 17px;
                position: relative;

                @include respond-to("medium") {
                    padding-top: 0;

                }

                &:last-of-type {
                    @include respond-to("medium") {
                        margin-right: 0;
                    }
                }


            }



            .button .button__primary {
                text-transform: none;

            }

        }
    }

    /*HAMBURGER BUTTON -----------------------------------------------------------------------------------*/

    &__hamburger-button {

        display: flex;
        justify-content: center;
        align-items: center;
        top: 18px;
        right: 15px;
        cursor: pointer;
        background: transparent;
        border: none;


        @include respond-to("small") {
            right: 20px;
        }

        @include respond-to("medium") {
            display: none;

        }
    }

    &__hamburger-button span {
        display: block;
        width: 20px;
        height: 2px;
        margin: 5px auto;
        background-color: $background-dark;
        border-radius: 2px;

    }


    /*MOBILE NAVIGATION------------------------------------------------------------------------------------------*/



    &__mobile-navigation {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

    }


    &__mobile-navigation {
        #hamburger-button {
            display: block;

        }

        #close-button svg {
            display: none;
        }

        @include respond-to("medium") {
            display: none;
        }
    }

    &__mobile-navigation.change {
        #hamburger-button {
            display: none;
        }

        #close-button svg {
            display: block;
        }
    }

    &__border-mobile {
        border-bottom: 1px solid $border-color;
        padding-top: 12px;

       
        &.has-submenu {


            > a {
                padding-right: 20px;
                position: relative;

            }
        }

        @include respond-to("medium") {
            border-bottom: none;
            white-space: nowrap;

            &.has-submenu {

                > a {
                    padding-bottom: 15px !important;
                    display: block;
                }

                &:hover {
                    .header__dropdown-container {
                        
                        opacity: 1;
                        visibility: visible;
                        margin-top: 0;

                    }

                    > a {
                        color: $primary-color;
                        // font-weight: 600;

                        svg {


                            path {
                                fill: $primary-color;
                                // font-weight: 600;
                            }
                        }

                    }

                }
            }
        }

        &.lan-picker{
            .header__dropdown-container{
                opacity: 0;
                visibility: hidden;
                height: 0;
                margin-top: 0;
                padding-left: 0;
                &.open{

                }

                @include respond-to("medium") {
                    height: auto;
                    margin-top: 0;
                    padding: 12px 15px;
                    margin-left: 0;
                }
            }
        }

    }




    &__mobile-logo {
        img {
            display: block;

        }



        @include respond-to("medium") {
            padding-top: 20px;
        }

        @include respond-to ("large") {
            display: none;

        }
    }

    /*NAVIGATION------------------------------------------------------------------------------------------------*/


    &__navigation {
        position: fixed;
        top: 65px;
        left: 100%;
        right: 0;
        background: white;
        width: 100%;
        opacity: 0;
        height: 100vh;

        @include respond-to("medium") {
            background-color: transparent;
            position: static;
            height: 0;
        }


        a {
            color: $background-dark;

           @include respond-to("medium") {
            &:hover {
                color: $primary-color;
            }
        }

            &:last-of-type {
                width: 100%;
                text-align: center;


                @include respond-to("small") {

                    width: 329px;
                }

                @include respond-to("medium") {
                    width: 100%;
                }
            }

        }

        li {


            padding-bottom: 12px;


            @include respond-to("medium") {
                padding-bottom: 0 !important;
            }



            &:last-of-type {
                width: 100%;

                @include respond-to("medium") {
                    width: auto;
                    padding-top: 0;
                }


            }

        }

        nav {

            margin-left: 20px;
            margin-right: 20px;
            height: 100vh;

            @include respond-to("small") {
                max-width: 730px;
                height: 100%;
            }

            @include respond-to("medium") {
                padding-top: 20px;
                max-width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
        }

        @include respond-to("medium") {
            opacity: 1;
            position: static;
            height: auto;
            width: auto;
        }

        path{

            transition: all 0.25s ease-in-out;     
        }

    }


    &__navigation.change {

        opacity: 1;
        left: 0;


    }



    &__aktivnosti-dropdown {

        max-width: 380px;
        display: flex;
        align-items: left !important;
        justify-content: flex-start !important;
        flex-direction: column !important;
        margin-left: 0 !important;

    }


    .button__primary {
        margin-left: 0;
        color: white;
    }

    &__dropdown-items {
        a:hover {
            color: $primary-color;
        }
    }


    .paragraph-big {
        margin-top: 40px;
        margin-bottom: 30px;
        color: #1D4951;

        @include respond-to("small") {
            margin-top: 20px;
            margin-bottom: 15px;
        }

        @include respond-to("medium") {
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 17px;
        }

        @include respond-to("large") {
            font-size: 19px;
        }
    }

    &__language {
        color: #1D4951;
        padding-right: 20px;
        margin-top: 12px;

        @include respond-to("medium") {
            margin-top: 0;
        }

    }

}