.header-sticky {
    width: 100%;
    position: fixed;
    transition: top 0.4s ease-in-out;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 1000;

    &__mobile-logo {
        display: block;
        z-index: 100000;
    }


    &__row {

        display: flex;
        flex-direction: column;


        @include respond-to("medium") {
            position: relative;
            flex-direction: row;
            justify-content: space-between;
        }

    }

    &__left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        padding-bottom: 5px;


        @include respond-to("small") {
            display: flex;

            svg {

                height: auto;
            }
        }

        @include respond-to("medium") {
            padding-top: 0;
            padding-bottom: 0;
        }


    }

    &__left svg {
        display: none;

        @include respond-to("large") {
            width: 332px;
            height: 272px;
        }
    }



    ul {
        display: block;

        li:not(.lan-picker) svg {
            display: none;
            @include respond-to("medium") {

                display: block;
             }
        }

        svg {

                position: absolute;
                right: 0;
                top: 7px;

                path {
                    fill: $background-dark;
                }
            }

        

        @include respond-to("medium") {
            gap: 20px;
            display: flex;
            flex-direction: row;
            align-items: baseline;



            li {
                padding-top: 20px;
                font-size: 17px;
                position: relative;

                @include respond-to("medium") {
                    padding-top: 0;

                }

            }

            .button .button__primary {
                text-transform: none;

            }

        }
    }


    &__aktivnosti-dropdown {
        display: flex;
        align-items: left !important;
        justify-content: flex-start !important;
        flex-direction: column !important;
        margin-left: 0;

    }


    .button__primary {
        margin-left: 0;
        margin-top: 36px;
        color: white;

        @include respond-to("medium") {
            margin-top: 0;
        }
    }


    &.change{

        .header__dropdown-container {
            padding-left: 20px;
    
        }
        nav {
            margin-top: 10px;
        }


    }

}

// HEADER STICKY WHITE

.header-sticky--white {
    background-color: white;

    nav {
        background-color: white;
        padding-top: 0;
    }
}




//HEADER STICKY DARK -------------------------------------------------------------------------------------


.header-sticky--dark {

    backdrop-filter: blur(2.5px);

    @include respond-to('medium') {
        .header__dropdown-container {
            background-color: #1D4951;
        }

        ul svg path {
            fill: white;
        }
    }

    .header-sticky__mobile-logo-dark {
        display: none;
    }

    .header__navigation.change {
        background: white;
    }

    .header__hamburger-button span {
        background-color: white;
    }


    .header-sticky__close-button {
        svg {
            path {
                fill: $title-color;
            }
        }
    }

    .header__border-mobile>a {
        color: white;

        &:hover {
            color: $primary-color;
        }
    }



    .header__navigation a {
        color: white;
    }


    .button__primary {
        margin-left: 0;
        color: rgb(138, 10, 10);
    }

    .header__dropdown-items {
        a:hover {
            color: $primary-color;
        }
    }

}

.header-sticky--dark.change {
    background-color: white;

    .header-sticky__mobile-logo {
        display: none;
    }

    .header-sticky__mobile-logo-dark {
        display: block;
    }

    .header__border-mobile>a {
        color: $title-color;
    }

  

    .button__primary {
        color: white !important;
    }

  



  
    .header__navigation a {
        color: $title-color;
    }

}