.aktivnosti-udruzenja {
    &__header {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        object-fit: cover;
        min-height: 370px;
    }
}