.knjiga {
    padding: 50px 0 ;



    h1 {
        text-transform: uppercase;
        margin-bottom: 30px;
text-align: center;

       

        @include respond-to("medium") {
           
            max-width: 870px;
            margin: 0 auto 45px auto;
        }

        @include respond-to("large") {
            
            max-width: 1152px;
        }
    }

    p {
        color: $text-light;
    }

    ul {
        list-style-type: disc;
        padding-left: 20px;
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: stretch;
        justify-content: start;
        margin: 20px 0;
        flex-wrap: wrap;

        @include respond-to("small") {
            // align-items: stretch;
        }
    }

    &__buttons a {
        text-transform: uppercase;
    }

    .button__primary {
        margin-left: 0;
    }

    &__flex {
        @include respond-to("small") {
            display: flex;
            justify-content: space-around;
        }
    }

    &__flex-right {
       width: 100%;

       @include respond-to("small") {
        width: 70%;
       }
    }
}
