.mediji {
    padding: 40px 0;

    h3 {
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    p {
        color: $text-light;
    }

    &__video {
        margin-bottom: 20px;
    }

    &__flex {
        @include respond-to("medium") {
            display: flex;
            gap: 20px;
            // flex-direction: column;
        }
    }
}
