.narucite {
    padding: 40px 0;
    background-color: $background-light;

    h2 {
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    p {
        color: $background-dark;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        justify-content: start;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .button__white-button {
        margin-left: 0;
    }

    &__flex {
        @include respond-to("medium") {
            display: flex;
            align-items: center;
        }
    }

    &__flex-left {
        @include respond-to("medium") {
            display: flex;
            flex-direction: column;
        }
    }

    &__buttons-flex {
        @include respond-to("medium") {
            display: flex;
            gap: 20px;
        }
    }
}
