.o-autoru {
    // padding: 40px 0;
    padding-bottom: 117px;

    h4,
    p {
        text-align: center;
    }

    h4 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 28px;


        @include respond-to("small") {
        margin-bottom: 60px;
        }
        
    }

    p {
        color: $background-dark;
        margin: 0 0 12px 0;
    }

    &__align-center {
        padding-top: 50px;
        border-top: 1px solid rgba(64, 92, 97, 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            max-width: 695px;
        }
    }

    &__social {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 23px;
        margin-bottom: 49px;

       

        path {
            fill: $background-dark;
            transition: all 0.3s ease-in-out;

            &:hover {
                fill: $primary-color;
            }
        }
    }

    &__social-icon {
        margin-right: 20px;
    }
}
