.o-autoru {
    padding-top: 40px;
    padding-bottom: 40px;


    h4,
    p {
        text-align: center;
    }

    h4 {
        text-transform: uppercase;

    }

    p {
        color: $background-dark;
        margin-top: 20px;
        margin-bottom: 20px;

    }

    &__align-center {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            max-width:695px ;
        }
    }

    


}