.progovorite {
    padding: 40px 0;

    h3 {
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    p {
        color: $text-light;
    }

    .button__primary {
        margin-left: 0;
    }

    &__buttons {
        display: flex;
        gap: 10px;
        align-items: flex-start;
        justify-content: start;
        margin: 20px 0;

        a {
            text-transform: uppercase;
        }
    }

    &__slobodan {
        margin-bottom: 20px;
    }

    &__flex {
        @include respond-to("medium") {
            display: flex;
            gap: 55px;
        }
    }

    &__paragraph {
        width: 100%;
        @include respond-to("medium") {
       width: 50%;
        }
       
    }

    &__progovori-da-svi-cuju {
        width: 100%;
        @include respond-to("medium") {
            width: 50%;
             }
    }
}
