.progovorite {
    padding-bottom: 50px;

    @include respond-to("small") {
        padding: 60px 0;
    }

    h3 {
        text-transform: uppercase;
        margin-bottom: 30px;
        font-weight: 600;
        font-size: 36px;
        line-height: 42px;


    }

    p {
        color: $text-light;
    }

    .button__primary {
        margin-left: 0;
    }

    &__buttons {
        display: flex;
        gap: 10px;
        align-items: flex-start;
        justify-content: start;
        margin: 20px 0;
        flex-wrap: wrap;

        a {
            text-transform: uppercase;
        }
    }

    &__slobodan {
        margin-bottom: 20px;
    }

    &__flex {

        padding-top: 50px;
        border-top: 1px solid rgba(64, 92, 97, 0.3);

        @include respond-to("small") {
            display: flex;
            gap: 20px;

        }

        @include respond-to("medium") {
            gap: 55px;
            border-top: none;
        }
    }

    &__paragraph {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .h3 {
            text-transform: uppercase;
            font-weight: 600;
        }

        @include respond-to("medium") {
            width: 50%;
            margin-top: 30px;
            border-top: 1px solid var(--stroke, #405C614D);
        }

    }

    &__progovori-da-svi-cuju {
        margin-bottom: 20px;
        width: 100%;

        @include respond-to("small") {
            margin-bottom: 0;
        }

        @include respond-to("medium") {
            width: 50%;

        }
    }
}