

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    
}

body {
    font-family: $font;
}

.arrow-down {
    
    display: block;
    height: 6px;
    width: 6px;
    top: 35px;
    right: 120px;
    position: absolute;
    border-right: 1px solid $title-color;
    border-bottom: 1px solid $title-color;
    rotate: 45deg;
    position: absolute;

    &:hover {
        border-right: 1px solid $primary-color;
        border-bottom: 1px solid $primary-color;

    }
}

.no-scroll {
    overflow-y: hidden;
}

html {
    overflow-x: hidden;
}

 
