body {
    font-family: $font;
    color: $text-light;
    font-weight: 400;
    overflow-x: hidden;
    @include fluid-type(320px, 1440px, 16px, 17px);
    @include line-height(320px, 1440px, 22px, 23px); 
}

// html {
  
//     overflow-x: hidden;
    
// }

p {
    margin: 0 0 12px 0;
    &:last-of-type{
        margin:0;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font;
    color: $title-color;
    font-weight: 500;
    margin: 0 0 12px 0;
}

h1 {
    @include fluid-type(320px, 1440px, 30px, 70px);
    @include line-height(320px, 1440px, 36px, 76px); 
}



h2, .h2 {
    @include fluid-type(320px, 1440px, 24px, 56px);
    @include line-height(320px, 1440px, 28px, 60px);
}

h3, .h3 {
    @include fluid-type(320px, 1440px, 22px, 36px);
    @include line-height(320px, 1440px, 28px, 42px);
}



h4, .h4 {
    @include fluid-type(320px, 1440px, 18px, 22px);
    @include line-height(320px, 1440px, 21px, 26px);
}

h5, .h5 {
    @include fluid-type(320px, 1440px, 16px, 17px);
    @include line-height(320px, 1440px, 22px, 23px); 
}

h6, .h6 {
    @include fluid-type(320px, 1440px, 16px, 17px);
    @include line-height(320px, 1440px, 22px, 23px); 
}


.paragraph-big{
    @include fluid-type(320px, 1440px, 18px, 20px);
    @include line-height(320px, 1440px, 24px, 26px);
}

.paragraph-small{
    @include fluid-type(320px, 1440px, 14px, 15px);
    @include line-height(320px, 1440px, 18px, 19px);
}


a {
    transition: all 0.25s ease-in-out;
    text-decoration: none;
  


    @include respond-to("small") {
    color: $text-light;
    }
}



img {
    max-width: 100%;
    height: auto;
}