/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/

$primary-color:  #219DD9;
$primary-hover: #41B4EC;
$text-light: #616161;
$text-dark:  #1C3236;
$title-color: #1D4951;
$background-dark: #1D4951;
$background-light:  #40AEE3;
$border-color: rgb(64, 92, 97, 0.3);

// $background-primary: #0D6633;



/*--------------------------------------------------------------
# Breakpoints
--------------------------------------------------------------*/

$breakpoints: (  'small': (min-width: 768px), 'medium': (min-width: 992px), 'large': (min-width: 1200px), 'xlarge': (min-width: 1440px), 'xxlarge': (min-width: 1600px));


/*--------------------------------------------------------------
# Font
--------------------------------------------------------------*/

$font: "Inter", sans-serif;


