.audio-pojedinacna {
    padding-top: 40px;

    @include respond-to("small") {
        padding-bottom: 240px;
    }

    h2 {
        text-align: center;
        margin: 30px auto 100px;
        padding-top: 40px;
        border-top: 1px solid rgba(64, 92, 97, 0.3);
    }

    p {
        margin-bottom: 20px !important;
    }

    &__cards {
        text-align: center;
        @include respond-to("medium") {
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 50px;
        }
    }

    &__flex {
        @include respond-to("small") {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__description {
        max-width: 721px;
        margin: 60px auto 138px;
    }

    &__rotating-images {
        rotate: 0deg;
        @include respond-to("small") {
            rotate: -5deg;
        }
    }

    .slider {
        width: 100%;
        margin: 0 auto;
    
        .slick-slide {
            width: auto !important;
            margin-right: 50px;
    
            &:nth-child(odd) {
                img {
                    transform: rotate(-5deg);
                }
            }
        }
    }

    .slick-list {
        overflow: visible;
    }

    .slick-prev, .slick-next {
        display: none !important;
    }
}
