.edukativna-knjiga {
    padding-bottom: 40px;

    @include respond-to("medium") {
        padding-bottom: 135px;
    }

    &__grid {
        display: block;
        padding-top: 80px;
        border-top: 1px solid $border-color;

        .h2 {
            text-transform: uppercase;
            margin-bottom: 28px;
            padding-top: 30px;

            @include respond-to("medium") {
                padding-top: 51px;
            }
        }

        p {
            margin-bottom: 22px;
            max-width: 497px;
        }

        @include respond-to("medium") {
            display: flex;
            align-items: center;
            gap: 55px;

            .primary-color {
                color: $primary-color;
            }
        }
    }

    &__desc {
        max-width: 579px;
    }

    &__desc-flex {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    &__buttons-flex {
        margin-top: 20px;
        @include respond-to("small") {
            display: flex;
            gap: 18px;
        }

        a {
            margin-bottom: 20px;
            text-transform: uppercase;
            display: flex;
            font-weight: 600;
        }
    }

    .button__primary {
        margin-left: 0;
    }

    .primary-color {
        color: $primary-color;
    }
}
