.udruzenje-ciljevi {
    display: block;

    &__header {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        object-fit: cover;
        min-height: 370px;

        @include respond-to("small") {
            min-height: 500px;
        }
    }

    @include respond-to("small") {
        &__hero-header {
            display: flex;
            justify-content: space-between;
            margin-top: 118px;
            gap: 66px;
        }

        &__grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 30px;
            margin-top: 100px;
            margin-bottom: 112px;
        }
    }

    &__hero-header h1 {
        margin-top: 20px;
        text-transform: uppercase;

        @include respond-to("small") {
            margin-top: 0;
        }
    }

    &__podrska {
        border-bottom: 1px solid #DADADA;

        img {
            margin-top: 50px;
        }

        p {
            font-size: 15px;
            margin-bottom: 19px;
        }
    }
}
