.o-udruzenju {


    background-color: $background-dark;

    &__intro {
        padding-top: 40px;
        margin-top: -1px;

        h1 {
            text-transform: uppercase;
            color: white;
        }


    }

    
}



.about {
    background-color: $background-dark;

    p, a {
        color: white;
    }



}


