.o-udruzenju {
  background-image: url(images-about/about-us.jpg);
  min-height: 80vh;
  margin-top: -72px;
  background-repeat: no-repeat;
  background-position: left;

  background-size: cover;

  padding-bottom: 90%;

  @include respond-to("small") {
    padding-bottom: 40%;
  }

  h2 {
    text-transform: uppercase;
    color: white;
    text-align: center;
  }

  &__intro {
    padding-top: 109px;
    margin-top: -1px;
    display: flex;
    flex-direction: column;

    @include respond-to("medium") {
      padding-top: 140px;
    }

    h1 {
      text-transform: uppercase;
      color: white;
      max-width: 613px;
    }

    p {
      max-width: 600px;
      margin-left: auto;
      margin-top: 89px;
      color: white;
    }
  }
}

.about {
  background-color: $background-dark;

  p,
  a {
    color: white;
  }
}
